.map > svg {
	padding: 12px;
	overflow: visible;
}

.map svg > path {
	stroke-width: 8;
}

.map svg .st0 {
	stroke: var(--color-text-primary);
}

.map svg .st1 {
	stroke: var(--map-sector-1);
}

.map svg .st2 {
	stroke: var(--map-sector-2);
}

.map svg .st3 {
	stroke: var(--map-sector-3);
}
