# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
.env.production
/build

# misc
.DS_Store
.env*
tsconfig.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/*

/packages/*/dist
/packages/*/build

/packages/api/.env
/packages/api/configs